{% extends "base.html" %}
{% block content %}

<h1>Author List</h1>

<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
    <a class="btn btn-large btn-primary" href="{% url 'author_create' %}">New author</a>
  </div>
</div>

{% if author_list %}
  <table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%;">Full name</th>
            <th style="width: 30%;">Pseudonym</th>
            <th style="width: 15%;">Born</th>
            <th style="width: 15%;">Died</th>
            <th style="width: 10%;"></th>
        </tr>
    </thead>
    {% for author in author_list %}
    <tbody>
        <tr>
            <td style="width: 30%;">{{author.full_name}}</td>
            {%if author.pseudonym%}
              <td style="width: 30%;">{{author.pseudonym}}</td>
            {% else %}
              <td style="width: 15%;">-</td>
            {% endif %}
            <td style="width: 15%;">{{author.born}}</td>
            {%if author.died%}
              <td style="width: 15%;">{{author.died}}</td>
            {% else %}
              <td style="width: 15%;">-</td>
            {% endif %}
            <td style="width: 10%;">
                <a href="{{ author.get_detail_url }}">Detail</a>
            </td>
        </tr>
    </tbody> 
    {% endfor %}
  </table>

  <div class="pagination">
    <span class="page-links">
        {% if author_list.has_previous %}
            <a href="{{ request.path }}?page={{ author_list.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
            Page {{ author_list.number }} of {{ author_list.paginator.num_pages }}.
        </span>
        {% if author_list.has_next %}
            <a href="{{ request.path }}?page={{ author_list.next_page_number }}">next</a>
        {% endif %}
    </span>
  </div>

{% else %}
  <p>There are no authors available.</p>
{% endif %}   
{% endblock %}