{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h1>Nearest Dea detail</h1>
  <div class="row">
    <form method="POST" action="{% url 'nearest' %}">
      {% csrf_token %}
      <table>
        {{form.as_table}}
      </table>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
  {% if deas %}

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Locality</th>
        <th>Address</th>
        <th>Device location</th>
        <th>Postal code</th>
        <th>Latitude</th>
        <th>Longitude</th>
      </tr>
    </thead>
    {% for dea in deas %}
    <tbody>
      <tr>
        <td>{{dea.id}}</td>
        <td>{{dea.locality}}</td>
        <td>{{dea.address}}</td>
        <td>{{dea.device_location}}</td>
        <td>{{dea.postal_code}}</td>
        <td>{{dea.lat}}</td>
        <td>{{dea.long}}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>

  {% else %}

  <span>No near device found</span>
  {% endif %}
</div>
{% endblock %}