{% extends 'base.html' %}
{% block content %}
   <div class="container">
    <h1>Dea detail</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Locality</th>
          <th>Address</th>
          <th>Device location</th>
          <th>Postal code</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{object.id}}</td>
          <td>{{object.locality}}</td>
          <td>{{object.address}}</td>
          <td>{{object.device_location}}</td>
          <td>{{object.postal_code}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endblock %}