{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
        <div class="col-md-10 col-xs-10 col-sm-10">
            <h3 class="round3">Deas</h3>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
        <div class="col-md-3 col-xs-3 col-sm-3">
            <span>OrderBy:</span>
            <ul>
                <li>
                    <a href="{% url 'orderByPostalCode' %}">
                        Postal Code
                    </a>
                </li>
                <li>
                    <a href="{% url 'orderByLocality' %}">
                        Locality
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 col-xs-3 col-sm-3">
            <span>Search by</span>
            <ul>
                <li>
                    <span> Postal code</span>
                    <form class="form-inline my-2 my-lg-0" action="{% url 'index' %}">
                        <input class="form-control mr-sm-2" name="search_dea_by_postal_code" placeholder="Search"
                            aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>
                <li>
                    <span> Locality</span>
                    <form class="form-inline my-2 my-lg-0" action="{% url 'index' %}">
                        <input class="form-control mr-sm-2" name="search_dea_by_locality" placeholder="Search"
                            aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>
                <li>
                    <form class="form-inline my-2 my-lg-0" action="{% url 'index' %}">
                        <input hidden class="form-control mr-sm-2" name="search_dea_by_company" value='searchByCompany' placeholder="Search"
                            aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Owned by The Company</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-xs-8 col-sm-8"></div>
        <div class="col-md-2 col-xs-2 col-sm-2">
            <br />
            <a href="{% url 'create' %}">
                <button type="button" class="btn btn-success">
                    <span>Add new DEA</span>
                </button>
            </a>
        </div>
        <div class="col-md-2 col-xs-2 col-sm-2">
            <br />
            <a href="{% url 'nearest' %}">
                <button type="button" class="btn btn-info">
                    <span>Search by coordinates</span>
                </button>
            </a>
        </div>
    </div>
    <br />
    {% if page_obj %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 20%;">ID</th>
                <th style="width: 10%;">Ownership</th>
                <th style="width: 10%;">Locality</th>
                <th style="width: 30%;">Address</th>
                <th style="width: 20%;">Device location</th>
                <th style="width: 10%;">Postal code</th>
            </tr>
        </thead>
        {% for dea in page_obj %}
        <tbody>
            <tr>
                <td style="width: 20%;">
                    <a href="{% url 'detail' dea.pk %}"> {{ dea.id }} </a> 
                    <span class="badge"></span></td>
                <td style="width: 10%;">{{dea.ownership}}</td>
                <td style="width: 10%;">{{dea.locality}}</td>
                <td style="width: 30%;">{{dea.address}}</td>
                <td style="width: 20%;">{{dea.device_location}}</td>
                <td style="width: 10%;">{{dea.postal_code}}</td>
            </tr>
        </tbody> 
        {% endfor %}
    </table>
    {% else %}
    <span>No matches</span>
    {% endif %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    
</div>
{% endblock %}